{% extends 'base2.html.twig' %}

{% block titre %}

{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1>Welcome !</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="page-header">
            <h1>Categories</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>
            {% for category in categories %}
                <a class="btn btn-primary" href="{{ url('bookstore.category', {'slug' : category.slugCat }) }}">{{ category.nomCat }} <span class="badge badge-light">{{ category.books | length }}</span></a>
            {% endfor %}
        </p>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}